<div class="product">
  <h3><%= link_to product.name, product_path(product) %></h3>
  <p>
    <strong>Description:</strong> <%= product.description %>
  </p>
  <p>
    <strong>Price:</strong> <%= product.price_in_dollars %>
  </p>
</div>
