<h1>Rainforest</h1>

<%= link_to("New Product", new_product_path)  %>

<h2>Products</h2>
<% @products.each do |current_product| %>
  <%= render 'single_product', product: current_product %>
<% end %>
